<!DOCTYPE html>
<html lang="en" class="h-100 bg-light" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Users</title>
    <script>
        fetch("http://localhost:8080/api/users").then(
            res => {
                res.json().then(
                    data => {
                        console.log(data);
                        if (data.length > 0) {
                            var temp = "";
                            data.forEach((u) => {
                                temp += "<tr>";
                                temp += "<td>" + u.id + "</td>";
                                temp += "<td>" + u.firstName + "</td>"
                                temp += "<td>" + u.lastName + "</td>"
                                temp += "<td>" + u.age + "</td>"
                                temp += "<td>" + u.email + "</td>"
                                temp += ' <td> <button type="button" data-userid="${user.id}" data-action="edit" class="btn btn-info"' +
                                    'className data-toggle="modal" data-target="#editModal">Edit</button> ' +
                                    '</td> ' +
                                    '<td> ' +
                                    '<button type="button" data-userid="${user.id}" data-action="delete" class="btn btn-danger"' +
                                    'className data-toggle="modal" data-target="#deleteModal">Delete</button> ' +
                                    '</td></tr>'
                            })

                            document.getElementById("data").innerHTML = temp;
                        }
                    }
                )
            }
        )

        fetch("http://localhost:8080/api/user")
            .then(res => res.json())
            .then(user => {
                document.getElementById("info").innerHTML = `
                    <b><span class="align-middle">${user.email}</span></b>
                    <span class="align-middle">with roles:</span>
                    <span class="align-middle">${user.roles.map(e => " " + e.nameRole.substr(5))}</span>
                `
            });
        fetch("http://localhost:8080/api/user").then(res => res.json())
            .then(user => {
                document.getElementById("user").innerHTML = `
                <tr>
                    <td>${user.id}</td>
                    <td>${user.firstName}</td>
                    <td>${user.lastName}</td>
                    <td>${user.age}</td>
                    <td>${user.email}</td>
                    <td>${user.roles.map(e => " " + e.nameRole.substr(5))}</td>
                </tr>



            `;
            })

        let isUser = true;
        $(function () {
            let role = "";
            for (let i = 0; i < user.roles.length; i++) {
                role = user.roles[i].role;
                if (role === "ROLE_ADMIN") {
                    isUser = false;
                }
            }
            if (isUser) {
                $("#userTable").addClass("show active");
                $("#userTab").addClass("show active");
            } else {
                $("#adminTable").addClass("show active");
                $("#adminTab").addClass("show active");
            }
        })


        let temp = ''
        if (isUser) {
            temp = `
            <h1 className="h1 a1" id="h1a1">User information page</h1>
            `;
            document.getElementById("h1a1").innerHTML = temp;
        } else {
            temp = `
            <h1 className="h1 a1" id="h1a1">Admin panel</h1>
            `;
            document.getElementById("h1a1").innerHTML = temp;
        }

        let button = $(`#addUser`);
        let form = $(`#addForm`)
        button.on('click', () => {
            form.show()
        })

        $('#defaultModal').modal({
            keyboard: true,
            backdrop: "static",
            show: false
        }).on("show.bs.modal", (event) => {
            let thisModal = $(event.target);
            let userid = thisModal.attr('data-userid');
            let action = thisModal.attr('data-action');
            switch (action) {
                case 'edit':
                    editUser(thisModal, userid);
                    break;
                case 'delete':
                    deleteUser(thisModal, userid);
                    break;
            }
        }).on("hidden.bs.modal", (e) => {
            let thisModal = $(e.target);
            thisModal.find('.modal-title').html('');
            thisModal.find('.modal-body').html('');
            thisModal.find('.modal-footer').html('');
        })

        async function editUser(modal, id) {
            let oneUser = fetch(`api/users/${id}`);
            let user1 = oneUser.json();

            modal.find('.modal-title').html('Edit user');

            let editButton = `<button  class="btn btn-info" id="editButton">Edit</button>`;
            let closeButton = `<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>`
            modal.find('.modal-footer').append(editButton);
            modal.find('.modal-footer').append(closeButton);

            user1.then(user => {
                let bodyForm = `
            <form class="form-group text-center" id="editUser">
               <div class="form-group">
                    <label for="userId" class="col-form-label">ID</label>
                    <input type="text" class="form-control username" id="userId" value="${user.id}" readonly>
               </div>

               <div class="form-group">
                    <label for="username" class="col-form-label">Username</label>
                    <input type="text" class="form-control username" id="username" value="${user.firstName}">
               </div>
                <div class="form-group">
                    <label for="password" class="com-form-label">Password</label>
                    <input type="password" class="form-control" id="password" value="${user.password}">
                </div>
                <div class="form-group">
                    <label for="surname" class="com-form-label">Surname</label>
                    <input type="text" class="form-control" id="surname" value="${user.lastName}">
                </div>
                <div class="form-group">
                    <label for="age" class="com-form-label">Age</label>
                    <input type="number" class="form-control" id="age" value="${user.age}">
                </div>
                <div class="form-group">
                    <label for="email" class="com-form-label">Email</label>
                    <input type="text" class="form-control" id="email" value="${user.email}">
                </div>

                <div class="form-group">
                    <label for="roles" class="com-form-label">Role</label>
                    <select multiple id="roles" size="2" class="form-control" style="max-height: 100px">
                    <option value="ROLE_USER">USER</option>
                    <option value="ROLE_ADMIN">ADMIN</option>
                    </select>
                </div>
            </form>
        `;
                modal.find('.modal-body').append(bodyForm);
            })
        }
    </script>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <p class="navbar-brand text-white" id="info">

        </p>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-dark text-secondary">Logout</button>
        </form>

    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-2">
            <ul class="list-group list-group-flush">
                <li>
                    <a sec:authorize="hasRole('ROLE_ADMIN')" class="list-group-item active" id="adminTab"
                       href="#adminTable" data-toggle="tab">Admin</a>
                </li>
                <li>
                    <a class="list-group-item" id="userTab"
                       href="#userTable" data-toggle="tab">User</a>
                </li>
            </ul>
        </div>
        <div class="col-10">
            <h1 className="h1 a1" id="h1a1"></h1>
            <div class="tabs">
                <ul sec:authorize="hasRole('ROLE_ADMIN')" class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#adminTable" data-toggle="tab">Users table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#newUser" data-toggle="tab">New user</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content border">
                <div sec:authorize="hasAnyRole('ROLE_ADMIN')" class="tab-pane fade" id="adminTable">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="navbar-brand">All users</div>
                    </nav>
                    <div>
                        <table class="table table-striped" id="tableAllUsers">
                            <thead>
                            <tr>
                                <th>id</th>
                                <th>Username</th>
                                <th>Name</th>
                                <th>Surname</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody id="data">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="userTable">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="navbar-brand">About user</div>
                    </nav>
                    <div>
                        <table class="table table-striped" id="tableUser">
                            <thead>
                            <tr>
                                <th>UserId</th>
                                <th>Username</th>
                                <th>Name</th>
                                <th>Surname</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Role</th>
                            </tr>
                            </thead>
                            <tbody id="user">
                            </tbody>
                        </table>
                    </div>
                </div>


                <div class="tab-pane fade text-center" id="newUser">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="navbar-brand">Add new user</div>
                    </nav>

                    <form id="addForm">

                        <div class="form-group">
                            <label for="usernameCreate" class="col-form-label">Username</label>
                            <input type="text" class="form-control username" id="usernameCreate">
                        </div>

                        <div class="form-group">
                            <label for="passwordCreate" class="com-form-label">Password</label>
                            <input type="password" class="form-control" id="passwordCreate">
                        </div>

                        <div class="form-group">
                            <label for="nameCreate" class="com-form-label">Name</label>
                            <input type="text" class="form-control" id="nameCreate">
                        </div>

                        <div class="form-group">
                            <label for="surnameCreate" class="com-form-label">Surname</label>
                            <input type="text" class="form-control" id="surnameCreate">
                        </div>

                        <div class="form-group">
                            <label for="ageCreate" class="com-form-label">Age</label>
                            <input type="number" class="form-control" id="ageCreate">
                        </div>

                        <div class="form-group">
                            <label for="emailCreate" class="com-form-label">Email</label>
                            <input type="text" class="form-control" id="emailCreate">
                        </div>

                        <div class="form-group">
                            <label for="rolesCreate" class="com-form-label">Role:</label>
                            <select multiple id="rolesCreate" class="form-control select" size="2">
                                <option value="ROLE_USER">USER</option>
                                <option value="ROLE_ADMIN">ADMIN</option>
                            </select>
                        </div>
                    </form>
                    <div class="p2">
                        <button class="btn btn-success" id="addUser" type="submit">Add new user</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="defaultModal" tabindex="-1" role="dialog" aria-labelledby="someDefaultModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                </div>

                <div class="modal-footer">
                </div>

            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>
</html>